.border {
  border: #8c0000 1px solid;
  padding: 5px;
  width: 95%;
  margin: 0 auto;
}

a {
  color: #114fb2;
}

.puzzle {
  padding: 0px, 10px, 0px, 10px;
}

.checkout-link {
  margin-left: -20px;
}

.gray-border {
  border:1px solid #ddd;
  background-color:#f9f9f9;
}

.portal {

}

.top-buffer {
  margin-top: 20px;
}
